{% extends 'layout.html' %}

{% block title_content %} Restaurant Menu {% endblock %}

{% block body %}

<h3><a href="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}">Add new Menu Item</a></h3>

{% if items %}

<div class="ui middle aligned divided list">
    <div class="item">
    <h3>Appetizers</h3>
        <div class="content">
        <div class="items">
            {% for i in items %}
            {% if i.course == 'Appetizer' %}
            <div class="item">
                <div class="header">{{i.name}}</div>
                <div class="content">{{i.description}}</div>
                <div class="extra">{{i.price}}</div>
                <div class="right floated content">
                    <div class="ui buttons">
                        <a class="ui positive button" href="{{url_for('editMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Edit</a>
                        <div class="or"></div>
                        <a class="ui negative button" href="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Delete</a>
                    </div>
                </div>
            </div>
            {% endif%}
        {% endfor %}
        </div>
        </div>
    </div>

    <div class="item">
    <h3>Entrees</h3>
        <div class="content">
        <div class="items">
            {% for i in items %}
            {% if i.course == 'Entree' %}
            <div class="item">
                <div class="header">{{i.name}}</div>
                <div class="content">{{i.description}}</div>
                <div class="extra">{{i.price}}</div>
                <div class="right floated content">
                    <div class="ui buttons">
                        <a class="ui positive button" href="{{url_for('editMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Edit</a>
                        <div class="or"></div>
                        <a class="ui negative button" href="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Delete</a>
                    </div>
                </div>
            </div>
            {% endif%}
        {% endfor %}
        </div>
        </div>
    </div>

    <div class="item">
    <h3>Desserts</h3>
        <div class="content">
        <div class="items">
            {% for i in items %}
            {% if i.course == 'Dessert' %}
            <div class="item">
                <div class="header">{{i.name}}</div>
                <div class="content">{{i.description}}</div>
                <div class="extra">{{i.price}}</div>
                <div class="right floated content">
                    <div class="ui buttons">
                        <a class="ui positive button" href="{{url_for('editMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Edit</a>
                        <div class="or"></div>
                        <a class="ui negative button" href="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Delete</a>
                    </div>
                </div>
            </div>
            {% endif%}
        {% endfor %}
        </div>
        </div>
    </div>

    <div class="item">
    <h3>Beverages</h3>
        <div class="content">
        <div class="items">
            {% for i in items %}
            {% if i.course == 'Beverage' %}
            <div class="item">
                <div class="header">{{i.name}}</div>
                <div class="content">{{i.description}}</div>
                <div class="extra">{{i.price}}</div>
                <div class="right floated content">
                    <div class="ui buttons">
                        <a class="ui positive button" href="{{url_for('editMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Edit</a>
                        <div class="or"></div>
                        <a class="ui negative button" href="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, item_id=i.id)}}">Delete</a>
                    </div>
                </div>
            </div>
            {% endif%}
        {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endif %}
        <a class="ui button" href="{{url_for('showRestaurants')}}">Back</a>
{% endblock %}